<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--주소값 정확하게 적어줘야함!-->
<mapper namespace="com.first.app.mapper.DeptMapper">
    <!--resultType = 별칭-->

    <!--전체 검색-->
    <select id="selectAll" resultType="com.first.app.domain.DeptDTO">
        select * from dept
    </select>

   <!-- <select id="selectByOption"
            parameterType="com.app.manager.domain.DeptSerachOption"
            resultType="com.app.manager.domain.DeptDTO">
        select * from dept
        <where>
            <if test="searchType != null and keyword != null">
                <if test="searchType == 'dname'">
                    &lt;!&ndash;dname like concat('%', #{keword}, '%')&ndash;&gt;
                    <include refid="searchDname"/>
                </if>
                <if test="searchType == 'loc'">
                    &lt;!&ndash;loc like concat('%', #{keword}, '%')&ndash;&gt;
                    <include refid="searchLoc"/>
                </if>
            </if>
        </where>
    </select>
    <sql id="searchDname">
        dname like concat('%', #{keyword}, '%')
    </sql>

    <sql id="searchLoc">
        loc like concat('%', #{keyword}, '%')
    </sql>-->

    <select id="selectByDeptnos" parameterType="list" resultType="com.first.app.domain.DeptDTO">
        select * from dept
        <where>
            <if test="list !=null and list.size !=0">
                deptno In
                <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>


    <!--부분 검색-->

    <select id="selectBydeptno" resultType="com.first.app.domain.DeptDTO">
        select * from dept where deptno=#{deptno}   <!--전달 데이터가 하나있으면 변수명은 상관없다-->
    </select>

    <!--업데이트-->
    <update id="updateDept" parameterType="com.first.app.domain.DeptDTO">
        update dept set dname=#{dname}, loc=#{loc} where deptno=#{deptno}
    </update>

    <!--입력-->
    <insert id="insertDept" parameterType="com.first.app.domain.DeptDTO">
        insert into dept values(#{deptno},#{dname},#{loc})
    </insert>

    <!--삭제-->
    <delete id="deleteByDeptno">
        delete from dept where deptno=#{no}
    </delete>


</mapper>

