<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todo.todospring.mapper.TodoMapper">

    <!--리스트 모두출력-->
    <select id="selectAll" resultType="com.todo.todospring.domain.TodoDTO">
        select * from tbl_todo
    </select>

        <!--지정 리스트 하나만 출력-->
    <select id="selectByTno" resultType="com.todo.todospring.domain.TodoDTO">
        select * from tbl_todo where tno=#{tno}
    </select>

        <!--리스트 한줄 입력-->
    <insert id="insertToDo" parameterType="com.todo.todospring.domain.TodoDTO">
        insert into tbl_todo (todo, dueDate, writer) values (#{todo}, #{dueDate}, #{writer})
    </insert>

    <!--리스트 한줄 수정-->
    <update id="updateTodo" parameterType="com.todo.todospring.domain.TodoDTO">
        update tbl_todo set todo=#{todo}, duedate=#{dueDate}, finished=#{finished} where tno=#{tno}
    </update>
    
    <!--리스트 한줄 삭제-->
    <delete id="deleteTodo" parameterType="com.todo.todospring.domain.TodoDTO">
        delete from tbl_todo where tno=#{tno}
    </delete>

</mapper>