* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    

}
#background_color{
    background-color: rgb(240, 242, 245);
    height: 750px;
}
section {
    width: 1020px;
    padding-top: 120px;
    margin: auto;

}

.mar_30 {
    margin: 30px;
}

#div_L {
    height: 500px;
    float: left;
    width: 500px;

}

#div_L>img {
    width: 330px;
}

#div_L>p {
    font-size: 28px;
}

#div_R {
    height: 380px;
    width: 400px;
    float: right;

}
#div_form{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #a0a0a0;

}
div>form {
    text-align: center;

}

#f_ul>li {
    font-size: 16px;
    width: 315px;
    margin: 10px auto;
    height: 10px;
    border-radius: 10px;
    padding: 20px;
}

li>input[type=submit] {
    width: 383px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(22, 111, 229);
}

li>p {
    font-size: 14px;
    margin: 10px;
    color: #1877f2;
}

ul>li>input {
    padding: 17px 37px;
    border-radius: 10px;
    border: 1px solid #dddfe2;
    line-height: 100%;
    width: 300px;
    margin-left: -30px;
}

form>button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    color: #fff;
    margin: 25px;
    background-color: rgb(54, 164, 32);
}
#comment>p{
    font-size: 14px;
   margin-top: 18px;
   text-align: center;
}
footer {
    background-color: #fff;
}
footer>ul>li{
    display: inline-block;
    
}
#footer_ul{
    text-align:  center;
    margin: 14px;
    font-size: 12px;
}
#footer_ul>li{
    padding: 0 5px;
    color: #a0a0a0;

}